<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Fees</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of allStudent; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ s.stuName }}</td>
      <td>{{ s.stuEmail }}</td>
      <td>{{ s.stuFees }}</td>
      <td>
        <span (click)="removeStudent(s)" class="btn btn-danger">Delete</span
        >&nbsp;&nbsp;
        <span routerLink="/update-student/{{ s.id }}" class="btn btn-warning"
          >Edit</span
        >
      </td>
    </tr>
  </tbody>
</table>
