<div
  class="jumbotron"
  style="
    height: 100vh;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(../../assets/img/loginBack.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  "
>
  <form
    #regForm="ngForm"
    (ngSubmit)="register(regForm)"
    novalidate
    style="
      background: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
      );
      padding: 50px;
      color: black;
      width: fit-content;
      height: fit-content;
      margin-right: auto;
      margin-left: auto;
    "
  >
    <h1>Welcome to Submissiva!</h1>
    <img src="../../assets/img/Logo_2.png" alt="" height="300px" />
    <h2>Please Register Yourself</h2>
    <div class="form-row">
      <div class="col-md-6 mb-2">
        <label for="firstName" class="form-label">First name</label>
        <input
          type="text"
          class="form-control is-valid"
          id="firstName"
          placeholder="First name"
          required
          name="firstName"
          #firstName="ngModel"
          ngModel
        />
        <span *ngIf="firstName.invalid && firstName.touched" style="color: red"
          >First Name required</span
        >
      </div>
      <div class="col-md-6 mb-2">
        <label for="lastName">Last name</label>
        <input
          type="text"
          class="form-control is-valid"
          id="lastName"
          placeholder="Last name"
          required
          name="lastName"
          #lastName="ngModel"
          ngModel
        />
        <span *ngIf="lastName.invalid && lastName.touched" style="color: red"
          >Last Name required</span
        >
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-2">
        <label for="UserName">Username</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend3">@</span>
          </div>
          <input
            type="text"
            class="form-control is-invalid"
            id="userName"
            placeholder="UserName"
            required
            name="userName"
            #userName="ngModel"
            ngModel
          />
          <br />
          <span *ngIf="userName.invalid && userName.touched" style="color: red"
            >UserName required</span
          >
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="userEmail">Email Address</label>
        <input
          type="email"
          class="form-control is-valid"
          id="userEmail"
          placeholder="Email Address"
          required
          name="userEmail"
          #userEmail="ngModel"
          ngModel
        /><span
          *ngIf="userEmail.invalid && userEmail.touched"
          style="color: red"
          >Email Address required</span
        >
      </div>
      <div class="col-md-4 mb-3">
        <label for="userPassword">Password</label>
        <input
          type="password"
          class="form-control is-valid"
          id="userPassword"
          placeholder="Password"
          required
          name="userPassword"
          #userPassword="ngModel"
          ngModel
        /><span
          *ngIf="userPassword.invalid && userPassword.touched"
          style="color: red"
          >Password required</span
        >
      </div>

      <button
        class="btn btn-success btn-lg"
        type="submit"
        style="width: 100%"
        [disabled]="!regForm.valid"
      >
        Register Yourself!
      </button>
    </div>
    <br />
    <button
      class="btn btn-warning btn-lg"
      [routerLink]="['/login']"
      style="width: 100%"
    >
      Already Have an Account?!
    </button>
    <br />
    <br />
    <hr class="my-3" />
    <button
      class="btn btn-outline-dark btn-lg"
      style="width: 30%"
      [routerLink]="['/home']"
    >
      Go to Home</button
    >&nbsp;&nbsp;&nbsp;&nbsp;<button
      class="btn btn-outline-dark btn-lg"
      style="width: 30%"
      [routerLink]="['/about']"
    >
      Go to About
    </button>
  </form>
</div>
