<div
  class="jumbotron"
  style="
    height: 90vh;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(../../assets/img/allIdeaBack.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  "
>
  <button
    class="btn btn-info btn-lg"
    style="width: 80%"
    [routerLink]="['/add-idea']"
  >
    ADD A NEW IDEA
  </button>
  <div class="card-group" style="padding: 50px">
    <!-- Card -->
    <div
      *ngFor="let i of allIdeas$ | async"
      class="card card-image"
      style="
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.9)
          ),
          url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 800px;
      "
    >
      <div class="text-white text-center rgba-black-strong py-5 px-4">
        <div style="text-align: center">
          <h1 class="pink-text">
            <i class="fas fa-chart-pie"></i> {{ i.name }}
          </h1>
          <h3 class="card-title pt-2">
            <strong>Created By : {{ i.emp_name }}</strong>
          </h3>
          <h4>Main Goal of Project : {{ i.goal }}</h4>
          <p>{{ i.description }}</p>
          <h5>Number of Upvotes : {{ i.upvotes }}</h5>
          <h5>Number of Downvotes : {{ i.downvotes }}</h5>

          <br />
          <button class="btn btn-success btn-lg" style="width: 100%">
            Upvote Idea!
          </button>
          <br />
          <br />
          <button class="btn btn-danger btn-lg" style="width: 100%">
            Downvote Idea!
          </button>
        </div>
      </div>
    </div>
    <!-- Card -->
  </div>
</div>
