<div
  class="jumbotron"
  style="
    height: 90vh;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(../../assets/img/homeBack.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  "
>
  <img src="../../assets/img/Logo_2.png" alt="" height="200px" />
  <h1 class="display-4">Welcome to Submissiva!</h1>
  <p class="lead">
    A hearty welcome to all the users on this amazing application, which aims to
    bring all levels of creative and developer minds together to build amazing
    things on various categories. <br />
    There is no good or bad idea, we are open to every idea that you have.
  </p>
  <hr class="my-4" />
  <h1 class="display-4">Get More Closer to the World of Submissiva!</h1>
  <p class="lead">
    Submissiva is a website which comes with an opportunity for all the creative
    minds out there to be a part of the world of innovations. It presents a fun
    competitive platform to showcase original thinking and problem-solving
    aptitude using various technologies like 5G, Internet of Things, networking
    infrastructure and collaboration to address global issues related to
    education, healthcare, water conservation, environment and sustainability.
  </p>

  <hr class="my-3" color="white" />
  <button
    class="btn btn-outline-warning btn-lg"
    style="width: 30%"
    (click)="login_btn()"
  >
    Login into your Account?</button
  >&nbsp;&nbsp;&nbsp;&nbsp;<button
    class="btn btn-outline-light btn-lg"
    style="width: 30%"
    (click)="register_btn()"
  >
    Want to create a new Account?
  </button>
</div>
