<div
  class="jumbotron"
  style="
    height: 90vh;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(../../assets/img/allIdeaBack.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  "
>
  <div style="text-align: center">
    <h1>Choose the Category to Create a Poll</h1>
    <div
      class="card w-30 text-dark"
      *ngFor="let c of allCategories; let i = index"
      style="margin: 20px"
    >
      <div class="card-body">
        <h5 class="card-title">{{ c.categoryName }}</h5>
        <p class="card-text">
          {{ c.categoryDescription }}
        </p>
        <a
          class="btn btn-warning"
          style="width: 100%"
          routerLink="/create-poll/{{ c.categoryName }}"
          >Choose {{ c.categoryName }} Category</a
        >
      </div>
    </div>
  </div>
</div>
