<div
  class="jumbotron"
  style="
    height: 90vh;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(../../assets/img/allIdeaBack.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  "
>
  <div class="container-fluid">
    <section>
      <div class="row" style="color: black">
        <div
          class="col-xl-2 col-sm-8 col-12 mb-4"
          style="height: 200px"
          *ngFor="let c of allCategories; let i = index"
        >
          <div class="card bg-secondary text-light" style="height: fit-content">
            <div class="card-body">
              <div class="d-flex justify-content-between px-md-1">
                <div class="text-end">
                  <h3>{{ c.categoryName }}</h3>
                  <p>{{ c.categoryDescription }}</p>
                  <a
                    class="btn btn-outline-light"
                    style="width: 100%"
                    routerLink="/create-poll/{{ c.categoryName }}"
                    >Choose {{ c.categoryName }} Category</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
